.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}

.pagination button {
  cursor: pointer;
  text-decoration: none;
  background: var(--primary-silver);
  margin: 2rem 0;
  padding: 0.2rem 0.8rem;
  border: none;
}

/* .pagination li + li {
  margin-left: 1rem;
} */

.btn.active {
  font-weight: bold;
  color: var(--primary-silver);
  background: transparent;
  border: none;
}

.pagination__item--active:focus {
  outline: none;
}
