.mainComicsContent {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}

.comicsContent {
  /* background: red; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.comicsContent li {
  cursor: pointer;
  width: 250px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 1.5rem;
  border: 1px solid #8080804f;
  background: var(--primary-dark);
  overflow: hidden;
}


.comicsContent li:hover {
  background: grey;
}

.comicsContent li:hover img {
  transform: scale(1.1);
}

.comicsContent img {
  width: 100%;
  /* margin-bottom: 1rem; */
}
.comicsContent p {
  font-weight: bold;
  padding: 0 0.5rem;
  margin-top: 1rem;
}
