.mainComicsContent {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}

.comicsContent {
  /* background: red; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.comicsContent li {
  cursor: pointer;
  width: 220px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: var(--primary-dark);
  overflow: hidden;
  border-radius: 4px;
}

.comicsContent li:hover {
  background: grey;
}

.comicsContent li:hover img {
  transform: scale(1.1);
}

.comicsContent li:hover .divisor::before {
  animation: animeDivRed 250ms ease forwards;
}

.comicsContent img {
  width: 100%;
  /* margin-bottom: 1rem; */
}
.comicsContent p {
  position: relative;
  font-weight: bold;
  font-size: 1.1rem;
  /* padding: 0 0.5rem; */
  /* margin: 1rem 0; */
}

.comicsTitle {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  flex: 1;
}

.divisor::before {
  height: 4px;
  content: "";
  background-color: var(--primary-red);
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes animeDivRed {
  0% {
    height: 4px;
  }
  to {
    height: 100%;
  }
}
