/* .profile {
  margin: 2rem auto 0;
  max-height: 300px;
  display: flex;
  gap: 4rem;
  background: var(--primary-dark);
}

.contentProfile {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: initial;
  border: 2px solid var(--primary-silver);
  border-radius: 4px;
}

.imgProfile {
  max-width: 300px;
  object-fit: contain;
}

.profile p {
  width: 60%;
  margin: 0 4rem;
  font-size: 1.2rem;
}

.description {
  flex: 1;
  padding: 1rem 2rem 0;
  display: flex;
  flex-direction: column;
  text-align: justify;
  color: var(--primary-silver);
}

.description h1 {
  font-size: 2rem;
  margin: 0 4rem;
  margin-bottom: 1rem;
} */
