:root {
  --primary-red: #f2264b;
  --primary-dark: #313140;
  --primary-grey: #b7b7c8;
  --primary-silver: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background: #181b20;
  color: var(--primary-silver);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.sectionContainer {
  background: url("./Assets/Marvel.svg") no-repeat;
}

.AppBody {
  flex: 1;
}

.subTitle {
  padding-bottom: 2rem;
  color: var(--primary-silver);
}

a {
  text-decoration: none;
}

.results {
  padding-bottom: 2rem;
  color: var(--primary-grey);
}


/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #afafaf #181b20;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #181b20;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid #181b20;
}